body {
    background-color: #ecf0f1;
    color: #2c3e50;
    font-family: 'Work Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

.bg-blue {
    background-color: #2c3e50;
    color: #ecf0f1;
}

a:visited {
    color: inherit;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    z-index: 1;
    border-style: solid;
    border-width: thin;
}

nav img {
    position: absolute;
    max-height: 100%;
    transform: translateX(-50%);
    left: 50%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3.5em;
}

header img {
    max-width: 100%;
}

.content {
    text-align: center;
    padding: 0.5em;
}

.skill, .contact {
    display: inline-block;
    width: 7em;
    height: 7em;
    padding: 0.5em;
}

.skill {
    color: #1abc9c;
}

.contact {
    color: #3498db;
}

.skill:hover, .contact:hover {
    position: relative;
    bottom: 1em;
    color: #ecf0f1;
}

.skill:hover {
    background-color: #1abc9c;
}

.contact:hover {
    background-color: #3498db;
}

.skill p, .contact p {
    visibility: hidden;
}

.skill:hover p, .contact:hover p {
    visibility: visible;
}

i {
    font-size: 5em;    
}

footer {
    position: relative;
    margin-top: 4em;
    text-align: center;
}