body {
    background-color: #ecf0f1;
    color: #2c3e50;
    font-family: 'Work Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    z-index: 1;
    background-color: #2c3e50;
    color: #ecf0f1;
    border-style: solid;
    border-width: thin;
}

nav img {
    position: absolute;
    max-height: 100%;
    left: 10vw;
}

.nav-links {
    position: absolute;
    right: 15vw;
    top: 1em;
}

.nav-links a {
    padding: 1em;
    color: #95a5a6;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ecf0f1;
}

header {
    background-color: #2c3e50;
    text-align: center;
}
.graphic {
  margin-top: 3em;
  display: inline-block;
  color: #ecf0f1;
}
